
.hero {
  background: $our-purple;
  height: 520px;
}

  .hero header {
    height: 520px;
    position: relative;
    width: 100%;
  }

.hero__title {
  background-position: 45.5% 50%;
  background-repeat: no-repeat;
  background-size: contain;
  height: 100%;
  position: absolute;
  top: 0;
  width: 100%;
  z-index: 20;
  
  @include svg-bg(ampersand-type);
}

.hero__ribbon {
  display: none;
/*
  background-position: 54.5% 0;
  background-repeat: no-repeat;
  background-size: contain;
  display: block;
  height: 100%;
  position: absolute;
  top: -1em;
  width: 100%;
  z-index: 1;
  
  @include svg-bg(ribbon);
*/
}