
@include font-specimen(livory, normal, 400);
@include font-specimen(grnd, normal, 300);


body {
  font-family: livory, georgia, serif;
}

  body a {
    text-decoration: none;
  }

%hN {
  font-family: grnd, sans-serif;
  font-weight: 300;
}


.navigation {
  background: $our-purple;
  padding-top: $base-spacing-unit;
  padding-top: ($base-spacing-unit / $base-font-size)*1rem;
}

.nav--fit {
  > li {
    > a {
      color: #fff;
      text-align: center;
    }
  }
}


section > .grid {
  text-align: center;
}
section > .grid > .grid__item {
  text-align: left;
}


.content {
  background: url(../img/bg-noise.png);
  padding-top: $indent-val;
  z-index: 99;
  
  -webkit-box-shadow: inset 0 -1px 0 rgba(0,0,0,0.4),inset 0 1px 0 0 rgba(255,255,255,0.8);
     -moz-box-shadow: inset 0 -1px 0 rgba(0,0,0,0.4),inset 0 1px 0 0 rgba(255,255,255,0.8);
          box-shadow: inset 0 -1px 0 rgba(0,0,0,0.4),inset 0 1px 0 0 rgba(255,255,255,0.8);
}

.content a {
  color: $our-purple;
}


.content--details {
  -webkit-box-shadow: inset 0 -1px 0 rgba(0,0,0,0.4);
     -moz-box-shadow: inset 0 -1px 0 rgba(0,0,0,0.4);
          box-shadow: inset 0 -1px 0 rgba(0,0,0,0.4);
}
.content--party {
  -webkit-box-shadow: inset 0 1px 0 0 rgba(255,255,255,0.8);
     -moz-box-shadow: inset 0 1px 0 0 rgba(255,255,255,0.8);
          box-shadow: inset 0 1px 0 0 rgba(255,255,255,0.8);
}
.content--rsvp {
  -webkit-box-shadow: inset 0 -1px 0 rgba(0,0,0,0.4);
     -moz-box-shadow: inset 0 -1px 0 rgba(0,0,0,0.4);
          box-shadow: inset 0 -1px 0 rgba(0,0,0,0.4);
}


.content--details dt {
  font-weight: bold;
  text-align: center;
}

.content--details dd {
  margin: 0;
}

.content--image {
  background: url(http://placehold.it/900x600) no-repeat 50% 50%;
  background-size: cover;
  height: 20em;
  z-index: 1;
  
    
  -webkit-box-shadow: inset 0 -8px 16px -8px rgba(0,0,0,0.6),inset 0 8px 16px -8px rgba(0,0,0,0.6);
     -moz-box-shadow: inset 0 -8px 16px -8px rgba(0,0,0,0.6),inset 0 8px 16px -8px rgba(0,0,0,0.6);
          box-shadow: inset 0 -8px 16px -8px rgba(0,0,0,0.6),inset 0 8px 16px -8px rgba(0,0,0,0.6);
}

.photo--engagement-1 {
  background: url(../img/115.jpg) no-repeat 50% 0;
  background-size: cover;
}
.photo--engagement-2 {
  background: url(../img/095.jpg) no-repeat 50% 40%;
  background-size: cover;
}
.photo--engagement-3 {
    
  -webkit-box-shadow: inset 0 8px 16px -8px rgba(0,0,0,0.6);
     -moz-box-shadow: inset 0 8px 16px -8px rgba(0,0,0,0.6);
          box-shadow: inset 0 8px 16px -8px rgba(0,0,0,0.6);

}
