
/*
@include font-specimen(livory, normal, 400);
@include font-specimen(grnd, normal, 300);
*/


body {
  font-family: livory, georgia, serif;
}

  body a {
    text-decoration: none;    
  }


%hN {
/*
  background: rgb(142,83,244);
  background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIxMDAlIiB5Mj0iMTAwJSI+CiAgICA8c3RvcCBvZmZzZXQ9IjAlIiBzdG9wLWNvbG9yPSIjOGU1M2Y0IiBzdG9wLW9wYWNpdHk9IjEiLz4KICAgIDxzdG9wIG9mZnNldD0iNTAlIiBzdG9wLWNvbG9yPSIjNGIyYzgyIiBzdG9wLW9wYWNpdHk9IjEiLz4KICA8L2xpbmVhckdyYWRpZW50PgogIDxyZWN0IHg9IjAiIHk9IjAiIHdpZHRoPSIxIiBoZWlnaHQ9IjEiIGZpbGw9InVybCgjZ3JhZC11Y2dnLWdlbmVyYXRlZCkiIC8+Cjwvc3ZnPg==);
  background: -moz-linear-gradient(-45deg,  rgba(142,83,244,1) 0%, rgba(75,44,130,1) 50%);
  background: -webkit-gradient(linear, left top, right bottom, color-stop(0%,rgba(142,83,244,1)), color-stop(50%,rgba(75,44,130,1)));
  background: -webkit-linear-gradient(-45deg,  rgba(142,83,244,1) 0%,rgba(75,44,130,1) 50%);
  background: -o-linear-gradient(-45deg,  rgba(142,83,244,1) 0%,rgba(75,44,130,1) 50%);
  background: -ms-linear-gradient(-45deg,  rgba(142,83,244,1) 0%,rgba(75,44,130,1) 50%);
  background: linear-gradient(135deg,  rgba(142,83,244,1) 0%,rgba(75,44,130,1) 50%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#8e53f4', endColorstr='#4b2c82',GradientType=1 );
*/

  -webkit-background-clip: text;

  color: transparentize($our-purple, 0.6);
/*   -webkit-text-fill-color: transparent; */
  font-family: 'Roboto', sans-serif;
  text-shadow: 0 1px 0 rgba(255,255,255,0.8);
}

.content h2 {
  margin-left: -1em;
}


.navigation {
  background: $our-purple;
  padding-top: $base-spacing-unit;
  padding-top: ($base-spacing-unit / $base-font-size)*1rem;
}

.nav--main {
  position: relative;
  text-align: right;
}
.affix .nav--main {
  background: $our-purple;
/*   height: $base-spacing-unit*2; */
  padding-top: $base-spacing-unit;
  padding-top: ($base-spacing-unit / $base-font-size)*1rem;
  padding-right: 8.333%;
  position: fixed;
  top: 0; left: 0;
  width: 100%;
}

.nav--block {
/*   position: absolute; */
  z-index: 21;

  > li {    
    > a {
      color: #fff;
      font-family: bran, sans-serif;
      text-align: center;
      text-transform: uppercase;
      
      &:hover {
        text-decoration: underline;
      }
    }
  }
}

.affix .nav--fit {
  margin-left: 8.33%;
  vertical-align: middle;
  width: 83.333%;
}

.nav__ribbon {
  position: absolute;
  top: -164px;
  transition: 0.2s top ease-in-out;
}
.affix .nav__ribbon {
  background: transparent no-repeat 50% 0%;
  background-size: contain;
  display: inline-block;
  height: 164px;
  padding-top: $base-spacing-unit;
  padding-top: ($base-spacing-unit / $base-font-size)*1rem;
  
  top: 0; right: 4.166%;
  
  width: 55px;
  z-index: 10;
  zoom: 1;

  @include svg-bg(ribbon);
}


section > .grid {
  text-align: center;
}
section > .grid > .grid__item {
  text-align: left;
}


.content {
  background: url(../img/bg-noise.png);
  padding-top: $base-spacing-unit*4;
  padding-top: ($base-spacing-unit / $base-font-size)*4rem;
  padding-bottom: $base-spacing-unit*4;
  padding-bottom: ($base-spacing-unit / $base-font-size)*4rem;
  z-index: 99;
  
  -webkit-box-shadow: inset 0 -1px 0 rgba(0,0,0,0.4),inset 0 1px 0 0 rgba(255,255,255,0.8);
     -moz-box-shadow: inset 0 -1px 0 rgba(0,0,0,0.4),inset 0 1px 0 0 rgba(255,255,255,0.8);
          box-shadow: inset 0 -1px 0 rgba(0,0,0,0.4),inset 0 1px 0 0 rgba(255,255,255,0.8);
}

.content a {
  color: $our-purple;
  
  &:hover {
    border-bottom: 1px solid;
  }
}

.content ul {
  list-style: none;
  margin-left: 0;
}

.content--party {
  padding-top: 0;
  -webkit-box-shadow: inset 0 -1px 0 rgba(0,0,0,0.4);
     -moz-box-shadow: inset 0 -1px 0 rgba(0,0,0,0.4);
          box-shadow: inset 0 -1px 0 rgba(0,0,0,0.4);
}
.content--details {
  -webkit-box-shadow: inset 0 1px 0 0 rgba(255,255,255,0.8);
     -moz-box-shadow: inset 0 1px 0 0 rgba(255,255,255,0.8);
          box-shadow: inset 0 1px 0 0 rgba(255,255,255,0.8);
}
.content--rsvp {
  -webkit-box-shadow: inset 0 -1px 0 rgba(0,0,0,0.4);
     -moz-box-shadow: inset 0 -1px 0 rgba(0,0,0,0.4);
          box-shadow: inset 0 -1px 0 rgba(0,0,0,0.4);
}


.content--rsvp abbr {
  border: none;
  color: transparentize($our-purple, 0.6);
  font-variant: normal;
  text-transform: none;
}


.content--details dt {
  font-weight: bold;
  
  @extend h3;
}

.content--details dd {
  margin: 0;
}

.content--image {
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;
  height: 20em;
  z-index: 1;
  
    
  -webkit-box-shadow: inset 0 -8px 16px -8px rgba(0,0,0,0.6),inset 0 8px 16px -8px rgba(0,0,0,0.6);
     -moz-box-shadow: inset 0 -8px 16px -8px rgba(0,0,0,0.6),inset 0 8px 16px -8px rgba(0,0,0,0.6);
          box-shadow: inset 0 -8px 16px -8px rgba(0,0,0,0.6),inset 0 8px 16px -8px rgba(0,0,0,0.6);
}

.photo--engagement-1 {
  background-image: url(../img/115.jpg);
/*   background-position: 50% -30%; */
}
.photo--engagement-2 {
  background-image: url(../img/095.jpg);
  background-position: 50% -40%;
}
.photo--engagement-3 {
  background-image: url(../img/033.jpg);
  background-position: 50% 40%;
  height: 600px;
    
  -webkit-box-shadow: inset 0 8px 16px -8px rgba(0,0,0,0.6);
     -moz-box-shadow: inset 0 8px 16px -8px rgba(0,0,0,0.6);
          box-shadow: inset 0 8px 16px -8px rgba(0,0,0,0.6);

}
